@import "common.scss";
@import "_mixin.scss";
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: px2rem(44px);
        text-align: center;
        span {
            font-size: px2rem(16px);
            //text-align: center;
            line-height: px2rem(44px)
        }
    }
    .main {
        width: 100%;
        flex: 1;
        overflow-y: scroll;
        background: #fafafa;
        text-align: center;
        span {
            line-height: px2rem(44px);
            font-weight: bold;
            font-size: px2rem(16px);
        }
        .banner {
            width: 100%;
            height: px2rem(100px);
            //background: red;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                margin-left: px2rem(15px);
            }
        }
        p {
            width: 100%;
            height: px2rem(44px);
            text-align: center;
            line-height: px2rem(44px);
            font-weight: bold;
            font-size: px2rem(18px)
        }
        .box {
            width: 100%;
            height: auto;
            dl {
                width: 100%;
                height: px2rem(150px);
                margin-bottom: px2rem(20px);
                display: flex;
                justify-content: space-between;
                padding: 0 px2rem(20px);
                dd {
                    span {
                        font-size: px2rem(18px)
                    }
                    p {
                        font-size: px2rem(15px);
                        color: #ccc
                    }
                    h6 {
                        color: #ccc
                    }
                }
                dt {
                    img {
                        width: px2rem(100px);
                        height: px2rem(100px);
                        margin-top: px2rem(10px)
                    }
                }
            }
        }
    }
}